name = "tokyo2025"
compatibility_date = "2025-11-21"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".vercel/output/static"

# Secrets Store
[[secrets_store_secrets]]
binding = "OPENAI_API_KEY"
store_id = "8c42fa70938644e0a8a109744467375f"
secret_name = "OPENAI_API_KEY"

[[secrets_store_secrets]]
binding = "GOOGLE_API_KEY"
store_id = "8c42fa70938644e0a8a109744467375f"
secret_name = "GOOGLE_API_KEY"

[[secrets_store_secrets]]
binding = "CLOUDFLARE_ACCOUNT_ID"
store_id = "8c42fa70938644e0a8a109744467375f"
secret_name = "CLOUDFLARE_ACCOUNT_ID"

[[secrets_store_secrets]]
binding = "CLOUDFLARE_API_TOKEN"
store_id = "8c42fa70938644e0a8a109744467375f"
secret_name = "CLOUDFLARE_API_TOKEN"

[[secrets_store_secrets]]
binding = "ADMIN_API_KEY"
store_id = "8c42fa70938644e0a8a109744467375f"
secret_name = "WORKER_API_KEY"

# Observability
[observability]
enabled = true
head_sampling_rate = 1.0

# D1 Database
[[d1_databases]]
binding = "DB"
database_name = "tokyo2025"
database_id = "6aa1da38-15f9-42d1-9195-a6dd0f56a58e"

# KV Namespace
[[kv_namespaces]]
binding = "MEMORY"
id = "0ba9fd878f4f4600aeeb9e4905a095e6"

# Cloudflare AI
[ai]
binding = "AI"

# Analytics
[[analytics_engine_datasets]]
binding = "ANALYTICS"
