name = "tokyo2025"
main = "src/worker.ts"
compatibility_date = "2024-06-01"

# Observability
[observability]
enabled = true

# D1 Database
[[d1_databases]]
binding = "DB"
database_name = "tokyo2025"
database_id = "6aa1da38-15f9-42d1-9195-a6dd0f56a58e"

# KV Namespace
[[kv_namespaces]]
binding = "MEMORY"
id = "0ba9fd878f4f4600aeeb9e4905a095e6"

# Cloudflare AI
[ai]
binding = "AI"

# Analytics
[[analytics_engine_datasets]]
binding = "ANALYTICS"

# Static Assets
[assets]
directory = "./public"
binding = "ASSETS"
